.newproduct .form-group .form-control,
.shipping .form-group .form-control,
.update-product .form-group .form-control,
.product-review .form-group .form-control,
.search .form-control,
.login .form-group .form-control,
.register .form-group .form-control,
.update-profile .form-group .form-control,
.update-password .form-group .form-control,
.reset-password .form-group .form-control,
.forgot-password .form-group .form-control,
.update-user .form-group .form-control,
.contact-form .form-group .form-control {
    padding: 4px 10px 4px 36px;
    margin: 1rem 0 2rem 0;
    height: 40px;
}

.search .form-control {
    margin: unset;
    padding-right: 20px;
    height: 37px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-error {
    border: 1px solid #ff004cd6;
}

.form-success {
    border: 1px solid rgba(49, 181, 26, 0.818);
}

/* for all font and bootstrap icon */
.icon,
.eye {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    /* position: absolute; */
    /* transform: translateX(1vmax); */
    /* font-size: 1.6vmax; */
    color: rgba(0, 0, 0, 0.623);
}

.eye {
    right: 10px;
    cursor: pointer;
}

.form-outline-none:focus {
    outline: none;
    box-shadow: none;
    background-color: #f1f1f1;

}

.profile-pic {
    display: flex;
    padding: 0%;
}

.update-profile .form-group img,
.register .form-group img {
    width: 35px;
    border-radius: 100%;

}

.update-profile .form-group .form-control-file::file-selector-button,
.register .form-group .form-control-file::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 800 2vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgba(235, 235, 235, 0.473);

}

.update-profile .form-group .form-control-file::file-selector-button:hover,
.register .form-group .form-control-file::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
}

@media screen and (max-width:575px) {
    .search {
        position: relative;
        padding-right: 58px;
    }

    .search .btn {
        position: absolute;
        right: 1vw;
        padding: 3px;
    }

    .search-icon {
        z-index: 1001;
    }

}